<div class='form-row'>
  <div class='form-group col-md-6'>
    <label> Opção de Resposta </label>
    <%= e.text_field :description, class: "form-control btn-xl" %>
  </div>
  <div class='form-group col-md-6'>
    <label> Peso </label><br>
    <%= e.number_field :weight,  class: "form-control small-input mr-2", style: 'width: 90px',placeholder: "Peso"  %>
  </div>        
</div>
