<p id="notice"><%= notice %></p>
<div class="peers ai-c jc-sb pX-40 pY-30">
    <div class="peers peer-greed">
        <div class="peer"><small><%= @question.created_at.to_s(:pt) %></small>
            <h5 class="c-grey-900 mB-5"><%= @question.name %> </h5>
        </div>
    </div>
    <div class="peer"><a href="#" class="btn btn-danger bdrs-50p p-15 lh-0"><i class="fa fa-reply"></i></a></div>
</div>
<h2 style="text-align: center;"><strong>Resultado: ATEN&Ccedil;&Atilde;O!!&nbsp;</strong></h2>
<p><span style="font-weight: 400;">Sua idade da Sa&uacute;de est&aacute; superior a sua idade biol&oacute;gica!&nbsp; Isto mostra que seu estilo de vida poder&aacute; prejudicar sua sa&uacute;de no futuro!</span></p>
<p><span style="font-weight: 400;">Fa&ccedil;a uma avalia&ccedil;&atilde;o de como est&aacute; seu consumo di&aacute;rio de frutas e verduras, e tamb&eacute;m sua ingest&atilde;o de &aacute;gua. Consumir verduras e frutas ajudam a ingerir menos calorias durante as refei&ccedil;&otilde;es, suprindo suas necessidades de vitaminas e minerais! Evite alimentos mais cal&oacute;ricos, como frituras, embutidos ou ultra processados.&nbsp;</span></p>
<p><span style="font-weight: 400;">Caso n&atilde;o pratique atividade f&iacute;sica, lembre-se que a pr&aacute;tica de exerc&iacute;cios aer&oacute;bicos e de fortalecimento muscular (muscula&ccedil;&atilde;o), melhoram sua energia di&aacute;ria e garantem uma boa noite de sono. Evite fumar. Procure manter sua vida social mais saud&aacute;vel, convivendo com amigos e dedicando tempo tamb&eacute;m para sua fam&iacute;lia!&nbsp;</span></p>
<p><span style="font-weight: 400;">E n&atilde;o esque&ccedil;a de realizar seus exames m&eacute;dicos preventivos!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Algumas dicas que a Liberty disponibiliza para voc&ecirc; cuidar melhor da sua sa&uacute;de:</span></p>
<ul>
<li style="font-weight: 400;"><strong>Gympass</strong><span style="font-weight: 400;"> - para pr&aacute;tica de atividades f&iacute;sicas;</span></li>
<li style="font-weight: 400;"><strong>Nutricionista e Psicoterapia</strong><span style="font-weight: 400;"> - poder&aacute; buscar ajuda tanto no Espa&ccedil;o Sa&uacute;de ou atrav&eacute;s da rede credenciada do plano de sa&uacute;de;</span></li>
<li style="font-weight: 400;"><strong>Programa de Apoio Pessoal</strong><span style="font-weight: 400;"> - onde poder&aacute; obter apoio psicol&oacute;gico, jur&iacute;dico e financeiro para um novo planejamento;</span></li>
<li style="font-weight: 400;"><strong>Equipe de Sa&uacute;de da Fam&iacute;lia</strong><span style="font-weight: 400;">: </span><strong>M&eacute;dica e Enfermeira</strong><span style="font-weight: 400;">, no Equipe do Espa&ccedil;o Sa&uacute;de, atrav&eacute;s de consulta presencial. Essa consulta permite avalia&ccedil;&atilde;o e acompanhamento m&eacute;dica. A Medicina de Fam&iacute;lia &eacute; uma especialidade m&eacute;dica que tem uma vis&atilde;o completa da sua sa&uacute;de: desde exames preventivos (check-up), ao diagn&oacute;stico, tratamento e acompanhamento de doen&ccedil;as cr&ocirc;nicas e das doen&ccedil;as mais comuns de acordo com a idade.&nbsp;</span></li>
</ul>
<p><span style="font-weight: 400;">Para maiores dicas, voc&ecirc; poder&aacute; ter orienta&ccedil;&otilde;es com o profissional Labor Fit especializado, nos dias xxxx a xxxx, no Hall do Caf&eacute; no Pr&eacute;dio Matriz das 11h00 &agrave;s 15h00&nbsp;</span></p>
<%= link_to 'Voltar', root_path %>
