  <main class="main-content bgc-grey-100">
  <div id="mainContent">
    <% if current_user %>
      <%= render file: 'home/index_admin'%>               
    <% elsif current_employee %>
      <%= render file: 'home/index_employee'%>
    <% end %>
  </div>
</main>