<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Editar ', edit_company_path(@company), class: 'btn btn-success'%> |
<%= link_to 'Voltar', companies_path, class: 'btn btn-info'%>