<!DOCTYPE html><html>
<!-- Mirrored from colorlib.com/polygon/adminator/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 18:29:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <title>Questions</title>
  <%= stylesheet_link_tag 'application', 'style', media: 'all', 'data-turbolinks-track' => true %>
</head>
  <body class="app">
    <% if logged_user  %>
      <div><div class="sidebar"><div class="sidebar-inner"><div class="sidebar-logo"><div class="peers ai-c fxw-nw"><div class="peer peer-greed"><a class="sidebar-link td-n" href="index.html" class="td-n"><div class="peers ai-c fxw-nw"><div class="peer">
      </div></div></a></div><div class="peer">
      <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
      </div>
      </div>
      </div>
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-30 active"><a class="sidebar-link" href="/" default><span class="icon-holder"></span><span class="title">Inicio</span></a></li>
        <% if current_user %>
          <li class="nav-item dropdown"><a class="sidebar-link" href="/companies"><span class="icon-holder"> </span><span class="title">Empresas</span></a></li>
        <% end %>
      </ul>
    </div>
    </div>

    <div class="page-container">
      <div class="header navbar">
          <div class="header-container">
              <ul class="nav-left">
                  <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
              </ul>
              <ul class="nav-right"> 
                  <li class="dropdown"><a href="#" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                          <div class="peer"><span class="fsz-sm c-grey-900"><%= logged_user.email %></span></div>
                      </a>
                      <ul class="dropdown-menu fsz-sm">
                          <li><a method='DELETE' href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-power-off mR-10"></i> <span>Sair</span></a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    <% end %><!-- if current_user -->

    <main class="main-content bgc-grey-100">
      <div id="mainContent">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2017 Labor Fit</span>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="2cb168958d3ab00694f95ca6-text/javascript"></script>
  </footer>
  </div></div>
      <%= javascript_include_tag 'jquery-2.1.1.min', 'nested_form', "vendor", 'bundle'  %>

  <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="2cb168958d3ab00694f95ca6-|49" defer=""></script>
</body>
</html>
