<!DOCTYPE html><html>
<!-- Mirrored from colorlib.com/polygon/adminator/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 18:29:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <title><%= @question.name %></title>
  <style>#loader{transition:all .3s ease-in-out;opacity:1;visibility:visible;position:fixed;height:100vh;width:100%;background:#fff;z-index:90000}#loader.fadeOut{opacity:0;visibility:hidden}.spinner{width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);background-color:#333;border-radius:100%;-webkit-animation:sk-scaleout 1s infinite ease-in-out;animation:sk-scaleout 1s infinite ease-in-out}@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1);opacity:0}}@keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}</style>
  <%= stylesheet_link_tag 'application', 'style', media: 'all', 'data-turbolinks-track' => true %>

</head>
  <body class="app">
    <div class="page-container">
      <main class="main-content">
        <div id="mainContent">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </main>
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2017 Labor Fit</span>

    </footer>
  </div>
  
  <%= javascript_include_tag 'jquery-2.1.1.min', 'nested_form', "vendor", 'bundle'  %>

  <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="2cb168958d3ab00694f95ca6-|49" defer=""></script>
</body>
</html>
